airtable-python-wrapper==0.8.0
asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.4.0
Django==4.2.18
idna==3.10
pkg_resources==0.0.0
python-dotenv==1.0.1
pytz==2017.3
requests==2.32.3
six==1.11.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
